@* @page *@
@model EmilsAuto.Controllers.HomeViewModel
@{
    ViewData["Title"] = "Forside";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Emils Auto</h1>
    <p>Største udvalg af biler</p>
</div>